
# Excluding files that are created by the program I make
# Executable files
*.exe
*.out

# Program Database files
*.pdb

# Text files 
*.txt

# Settings files
*.json

# Ignoring the annoying temporary files
tempCodeRunnerFile.*

# Ignoring the extra files that are auto generated
*.lock
target/

